{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "edge": "17",
                    "chrome": "67"
                },
                "corejs": 2, 
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ]
}